---

---

<div class="flex flex-col lg:flex-row gap-8 items-center">
  <div class="flex-1">
    <p class="text-lg text-pretty mb-4">
      Soy <span class="text-pink-400 font-medium">Manuel García</span>. Me gusta
      dibujar ilustraciones a bic y pintar. Estudié fotografía, edición de vídeo
      y técnico de iluminación.
    </p>

    <p class="text-lg text-pretty mb-4">
      En mi tiempo libre, me gusta pasar tiempo con mi familia y amigos, pasear
      por sitios naturales y apreciar lo bonitos que son. También me gusta el
      deporte, jugar a voleibol, o voley-playa, salir a patinar o simplemente
      quedarme en casa dibujando
    </p>

    <p class="text-lg text-pretty">
      En resumidas cuentas, soy bastante activo en mi día a día, a veces procuro
      dedicar mi tiempo a no hacer nada para reponer energías y a seguir con la
      marcha :)
    </p>
  </div>

  <div class="flex-1 flex justify-center">
    <div class="p-1 bg-white rounded-lg shadow-lg">
      <img
        src="https://mir-s3-cdn-cf.behance.net/user/230/db2609476534187.63e1335962ed5.jpg"
        alt="Manuel García - Diseñador Gráfico"
        class="w-64 h-auto rounded-md object-cover"
      />
    </div>
  </div>
</div>
