---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2023 - Actualidad",
    title: "Diseñador Gráfico",
    company: "abc SOLAR",
    description:
      "Experiencia en el desarrollo de soluciones gráficas integrales, incluyendo identidad corporativa, branding y rebranding. Diseño de material publicitario, ropa corporativa, vinilos para vehículos y oficinas, rótulos y todo tipo de imagen visual para empresas y clientes particulares.",
    city: "Valencia",
    logo: "/projects/abcSolar.png",
    detailedDescription:
      "Durante mi estancia, he aprendido lo que es la gestión y captación de clientes potenciales para la empresa, así como a mantener una estrecha comunicación con ellos para ofrecer el mejor servicio posible.",
    details: [
      {
        label: "Capacidades desarrolladas",
        items: [
          "Mantenimiento web: Gestión y actualización periódica de la página web corporativa utilizando WordPress.",
          "Desarrollo de identidad corporativa: Creación de manuales de marca y comunicación directa con clientes para adaptar cada proyecto a sus necesidades específicas.",
          "Rebranding de marcas: Renovación de imagen corporativa con resultados positivos, destacando la comunicación fluida con clientes y la buena acogida de las propuestas conceptuales.",
          "Diseño a escala: Desarrollo de piezas gráficas considerando medidas reales para rótulos, letras corpóreas, pancartas publicitarias, vinilos para vehículos y material corporativo de oficina.",
          "Gestión integral de proyectos: Planificación y ejecución completa de proyectos desde la conceptualización del diseño hasta la producción y montaje final, incluyendo elementos como rotulación.",
        ],
      },
      {
        label: "Herramientas",
        items: ["WordPress", "CorelDraw", "Photoshop", "Figma"],
      },
    ],
  },
  {
    date: "Enero 2020 - Actualidad",
    title: "Autónomo - Diseñador Gráfico",
    company: "C23",
    description:
      "Creación de campañas visuales y materiales impresos para clientes de sectores variados.",
    city: "Miguelturra (Ciudad Real)",
    detailedDescription:
      "Como Diseñador Gráfico en Empresa ABC, lideré proyectos de branding, diseño de logotipos y material promocional. Coordiné con equipos de marketing para alinear la identidad visual con los objetivos comerciales, logrando un incremento del 15% en el reconocimiento de marca.",
    details: [
      {
        label: "Proyectos Destacados",
        items: [
          "Branding para Cliente A",
          "Campaña publicitaria para Cliente B",
        ],
      },
      {
        label: "Software Utilizado",
        items: ["Adobe Illustrator", "Photoshop", "InDesign"],
      },
    ],
  },
  {
    date: "Octubre 2019 - Diciembre 2019",
    title: "Dependiente en estudio fotográfico",
    company: "Kristal Kolor",
    logo: "/projects/kristalKolor.png",
    description:
      "Impresión y edición fotográfica, retoque digital, digitalización mediante escáner, revelado y positivado de carretes, y montaje de cuadros, proporcionando atención personalizada al cliente.",
    city: "Albacete",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
