---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2023 - Actualidad",
    title: "Diseñador UX/UI",
    company: "Empresa XYZ",
    description:
      "Diseñador UX/UI en una agencia de marketing digital, liderando proyectos de plataforma web y aplicativos móviles.",
    city: "Ciudad de México",
    logo: "/projects/abcSolar.png",
    detailedDescription:
      "En Empresa XYZ, diseñé y optimicé flujos de usuario en aplicaciones web y móviles, colaborando con equipos de desarrollo y Product Managers. Implementé pruebas de usabilidad con más de 30 usuarios y aumenté la tasa de adopción en un 20%.",
    details: [
      {
        label: "Responsabilidades",
        items: [
          "Diseño de interfaces de usuario",
          "Creación de prototipos interactivos",
          "Pruebas de usabilidad",
        ],
      },
      {
        label: "Herramientas",
        items: ["Figma", "Adobe XD", "Sketch"],
      },
    ],
  },
  {
    date: "Enero 2021 - Diciembre 2022",
    title: "Diseñador Gráfico",
    company: "Empresa ABC",
    description:
      "Creación de campañas visuales y materiales impresos para clientes de sectores variados.",
    city: "Miguelturra",
    detailedDescription:
      "Como Diseñador Gráfico en Empresa ABC, lideré proyectos de branding, diseño de logotipos y material promocional. Coordiné con equipos de marketing para alinear la identidad visual con los objetivos comerciales, logrando un incremento del 15% en el reconocimiento de marca.",
    details: [
      {
        label: "Proyectos Destacados",
        items: [
          "Branding para Cliente A",
          "Campaña publicitaria para Cliente B",
        ],
      },
      {
        label: "Software Utilizado",
        items: ["Adobe Illustrator", "Photoshop", "InDesign"],
      },
    ],
  },
  {
    date: "Enero 2019 - Diciembre 2020",
    title: "Prácticas de Diseño Gráfico",
    company: "Cochera 23",
    description:
      "Prácticas en una agencia de diseño, donde adquirí experiencia en diseño gráfico y aprendí a trabajar en equipo en proyectos creativos.",
    city: "Ciudad Real",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
