<header class="flex justify-between item-center py-3 w-[1120px]">
  <img
    class="rounded-full w-16 h-16"
    src="https://mir-s3-cdn-cf.behance.net/user/230/db2609476534187.63e1335962ed5.jpg"
    alt="Manuel photo"
  />
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
