---
import Header from "../components/Header.astro";
import "./src/styles/global.css";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es" class="bg-gray-50">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Manuel García - Mardekoro</title>
  </head>
  <body class="flex justify-center">
    <Header />
    <main></main>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Onest Variable", sans-serif;
  }
</style>
