---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Toast from "../components/Toast.astro";
import "../styles/global.css";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Manuel García Portfolio - Diseñador Gráfico y UX/UI</title>
  </head>
  <body
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
  >
    <Header />
    <slot />
    <Footer />

    <Toast />
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        const btn = document.getElementById("copy-email-btn");
        if (!(btn instanceof HTMLElement)) return;
        btn.addEventListener("click", () => {
          navigator.clipboard
            .writeText("mardekoro@gmail.com")
            .then(() =>
              window.showToast({
                message: "Correo copiado al portapapeles",
                type: "success",
              })
            )
            .catch(() =>
              window.showToast({
                message: "No se ha podido realizar la acción",
                type: "error",
              })
            );
        });
      });
    </script>
  </body>

  <style>
    html {
      font-family: "Onest Variable", sans-serif;
      scroll-behavior: smooth;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
