---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Manuel García Portfolio - Diseñador Gráfico y UX/UI</title>
  </head>
  <body
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
  >
    <Header />
    <slot />
    <Footer />
  </body>

  <style>
    html {
      font-family: "Onest Variable", sans-serif;
      scroll-behavior: smooth;
    }
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
    }
  </style>
</html>
